.container
{
    height: 100%;
    overflow-y: auto;
    padding-bottom: 130px;
}

.doorItemList
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 16px;
    overflow-y: auto;
    padding: 0 16px;
}

@media (max-width: 768px)
{
    .container
    {
        padding-bottom: 80px;
    }
    .doorItemList    
    {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));        
        grid-gap: 4px;
    }
}