.pageLayout
{
    position: relative;
    height: calc(100vh - 64px);
    min-height: 600px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    padding-bottom: 0;
    display: flex;
    gap: 16px;
}

@media (max-width: 1060px)
{
    .pageLayout
    {
        flex-direction: column;
        gap: 0;
        padding: 16px;
        height: 100vh;
    }
}

@media (max-width: 768px)
{
    .pageLayout
    {
        padding: 8px;
        padding-top: 15px;
    }
}