@import url('./normalize.css');
@import url('./scrollbar.css');
@import url('./typography.css');
@import url('./media.css');
@import url('./fonts/eckhardt_deco/stylesheet.css');
@import url('./fonts/neue_mahina/stylesheet.css');

*
{
    box-sizing: border-box;
}

body
{
    color: #B5C4E3;
    font-family: Neue Machina;
    background-color: #1E2636;
    height: 100vh;
}

button
{
    line-height: 1;
}
