.loader
{
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background: linear-gradient(180deg, #E7DF36 0%, #EFB23D 100%);;
    animation: loader 10s linear;
}

@keyframes loader {
    0%
    {
        width: 0;
        opacity: .4;
    }
    50%
    {
        width: 100%;
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}