.blur
{
    background: #222A3A;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 999;
}

.blur.active
{
    display: block;
}